@import components/colors
@import components/typography

#navigation
    background-color: $primary-color
    .navigation-group
        .menu
            .brand
                img 
                    height: 50px
                    transform: rotate(2deg)
            color: #ffffff
            ul
                list-style: none
                padding: 0
                margin-left: 40px
                .active
                    font-weight: bold
                li
                    display: inline-block
                    margin: 0 8px
                    a
                        color: #ffffff
                        text-transform: uppercase
                        text-decoration: none
        .social
            color: #ffffff
            text-align: left
            padding: 2px 0 5px 0
            small
                padding: 0
                margin: 2px 0 3px 4px
                font-size: 12px
            ul
                list-style: none
                padding: 0
                margin: 0 0 5px 0
                li
                    display: inline-block
                    margin: 0 5px
                    a
                        text-decoration: none
        
#blog
    padding: 100px 0
    .blog-grid
        flex-wrap: wrap
        justify-content: space-between
        .blog-card
            width: 30%
            transition: 0.3s
            margin: 15px 15px
            img
                width: 100%
                border-radius: 6px
                object-fit: cover
                object-position: center
            .blog-title
                font-size: 16px
                line-height: 1.4
                h2
                    padding: 10px 0
                    margin: 0
                    font-weight: 500
            .blog-author
                padding: 0
                font-weight: 300
            .blog-desc
                p
                    margin: 0
                    padding: 10px 0
                    font-weight: 300

    .blog-card:hover
        transform: translateY(-10px)
        transition: 0.3s