@import components/colors
@import components/typography

#navigation
    background-color: $primary-color
    .navigation-group
        .menu
            .brand
                img 
                    height: 45px
                    transform: rotate(2deg)
            color: #ffffff
            ul
                list-style: none
                padding: 0
                margin-left: 20px
                li
                    display: inline-block
                    margin: 0 5px
                    a
                        color: #ffffff
                        text-transform: uppercase
                        text-decoration: none
        .social
            color: #ffffff
            ul
                list-style: none
                li
                    display: inline-block
                    margin: 0 5px
                    a
                        text-decoration: none
        