body
    font-family: 'Open Sans', sans-serif
    
$font-barlow: 'Barlow Semi Condensed', sans-serif

$font-open-sans: 'Open Sans', sans-serif
    
.font-barlow
    font-family: 'Barlow Semi Condensed', sans-serif

.font-open-sans
    font-family: 'Open Sans', sans-serif